In [1]:
import pandas as pd
from stock import *
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [5]:
symbols = [
        {"name": "^TWII", "remark": "台灣加權指數"},
        {"name": "^0050", "remark": "0050報酬指數", "fromPath": os.path.join("./extraData", "臺灣50指數")},
        {"name": "0050.TW", "remark": "元大台灣50", "replaceDiv": True},
        {"name": "006208.TW", "remark": "富邦台50", "replaceDiv": True},
        {"name": "0051.TW", "remark": "元大中型100", "replaceDiv": True},
        {"name": "0056.TW", "remark": "元大高股息", "replaceDiv": True},
        {"name": "2412.TW", "remark": "中華電信", "replaceDiv": True},
        {"name": "2002.TW", "remark": "中鋼", "replaceDiv": True},
        {"name": "2330.TW", "remark": "台積電", "replaceDiv": True},
        {"name": "2317.TW", "remark": "鴻海", "replaceDiv": True},
        {"name": "6505.TW", "remark": "台塑石化", "replaceDiv": True},
        {"name": "3481.TW", "remark": "群創", "replaceDiv": True},
        {"name": "2303.TW", "remark": "聯電", "replaceDiv": True},
        {"name": "2308.TW", "remark": "台達電", "replaceDiv": True},
    ]

In [6]:
start="1911-1-11"
prefix="TW"
iYear=5
end=datetime.now().strftime("%Y-%m-%d")

stocks = []
for symbol in symbols:
    stocks.append(
        Stock(
            symbol["name"],
            remark=symbol["remark"],
            start=start,
            end=end,
            extraDiv=symbol.get("extraDiv", {}),
            replaceDiv=symbol.get("replaceDiv", False),
            fromPath=symbol.get("fromPath", False),
        )
    )

^TWII  台灣加權指數
empty Dividends
^0050  0050報酬指數
empty Dividends

/home/zps/模板/venv/dev_venv/lib/python3.8/site-packages/pandas/core/indexing.py:1781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

0050   元大台灣50
         Date  Dividends
0  2021-01-22       3.05
1  2020-07-21       0.70
2  2020-01-31       2.90
3  2019-07-19       0.70
4  2019-01-22       2.30
5  2018-07-23       0.70
6  2018-01-29       2.20
7  2017-07-31       0.70
8  2017-02-08       1.70
9  2016-07-28       0.85
10 2015-10-26       2.00
11 2014-10-24       1.55
12 2013-10-24       1.35
13 2012-10-24       1.85
14 2011-10-26       1.95
15 2010-10-25       2.20
16 2009-10-23       1.00
17 2008-10-24       2.00
18 2007-10-24       2.50
19 2006-10-26       4.00
20 2005-05-19       1.85

/home/zps/模板/venv/dev_venv/lib/python3.8/site-packages/pandas/core/indexing.py:1781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

006208 富邦台50
         Date  Dividends
0  2020-11-17      1.139
1  2020-07-21      0.481
2  2019-11-20      1.138
3  2019-07-18      0.661
4  2018-11-29      2.000
5  2018-07-26      0.650
6  2017-11-30      1.650
7  2017-07-27      1.000
8  2016-08-02      0.043
9  2015-10-29      0.845
10 2014-10-29      1.212
11 2013-10-30      0.629
12 2012-11-01      1.844

/home/zps/模板/venv/dev_venv/lib/python3.8/site-packages/pandas/core/indexing.py:1781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

0051   元大中型100
         Date  Dividends
0  2020-11-20       1.10
1  2019-11-22       1.20
2  2018-11-22       1.00
3  2017-11-23       0.85
4  2016-11-23       0.70
5  2015-11-24       0.85
6  2014-11-25       0.75
7  2013-11-25       0.80
8  2012-11-22       0.75
9  2011-11-23       0.90
10 2010-11-23       0.90
11 2009-11-24       1.70
12 2007-11-23       0.77

/home/zps/模板/venv/dev_venv/lib/python3.8/site-packages/pandas/core/indexing.py:1781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

0056   元大高股息
         Date  Dividends
0  2020-10-28       1.60
1  2019-10-23       1.80
2  2018-10-23       1.45
3  2017-10-30       0.95
4  2016-10-26       1.30
5  2015-10-26       1.00
6  2014-10-24       1.00
7  2013-10-24       0.85
8  2012-10-24       1.30
9  2011-10-26       2.20
10 2009-10-23       2.00
2412   中華電信
         Date  Dividends
0  2001-06-22    5.80000
1  2002-07-10    3.50000
2  2003-07-30    4.00000
3  2004-07-13    4.50000
4  2005-08-11    4.70000
5  2006-08-10    4.21569
6  2007-07-26    3.58000
7  2008-10-17    3.52066
8  2009-08-03    3.48182
9  2010-08-12    4.06000
10 2011-07-21    5.52430
11 2012-07-17    5.46080
12 2013-07-17    4.62950
13 2014-07-17    4.52510
14 2015-07-16    4.85640
15 2016-07-21    5.48520
16 2017-07-21    4.94190
17 2018-07-23    4.79600
18 2019-07-25    4.47900
19 2020-07-02    4.22600
2002   中鋼
         Date  Dividends
0  2000-06-22   1.300000
1  2001-07-10   1.413890
2  2002-07-25   0.784314
3  2003-07-24   1.358930
4  2004-07-23   2.800530
5  2005-07-26   3.537420
6  2006-07-26   3.500660
7  2007-07-26   2.699030
8  2008-07-24   3.299080
9  2009-07-24   1.300000
10 2010-07-26   1.010000
11 2011-07-18   1.895240
12 2012-07-26   1.010000
13 2013-07-26   0.400000
14 2014-08-14   0.672819
15 2015-07-24   1.000000
16 2016-07-26   0.500000
17 2017-07-26   0.850000
18 2018-07-26   0.880000
19 2019-07-25   1.000000
20 2020-07-24   0.500000
2330   台積電
         Date  Dividends
0  2004-06-14   0.529159
1  2005-06-13   1.904570
2  2006-06-20   2.426310
3  2007-06-08   2.984590
4  2008-07-16   3.009890
5  2009-07-15   2.984970
6  2010-07-06   2.999730
7  2011-06-29   2.999510
8  2012-07-04   2.999480
9  2013-07-03   2.999550
10 2014-07-14   2.999910
11 2015-06-29   4.499880
12 2016-06-27   6.000000
13 2017-06-26   7.000000
14 2018-06-25   8.000000
15 2019-06-24   8.000000
16 2019-09-19   2.000000
17 2019-12-19   2.500000
18 2020-03-19   2.500000
19 2020-06-18   2.500000
20 2020-09-17   2.500000
21 2020-12-17   2.500000
2317   鴻海
         Date  Dividends
0  1993-07-22    0.60000
1  1994-06-07    0.80000
2  2000-07-14    1.00000
3  2001-07-02    1.04167
4  2002-07-23    1.13422
5  2003-08-07    1.04167
6  2004-08-23    1.51228
7  2005-09-02    1.71145
8  2006-08-17    2.08333
9  2007-08-27    2.08333
10 2008-09-16    2.26843
11 2009-06-02    1.10000
12 2010-08-25    1.59439
13 2011-07-29    1.00000
14 2012-08-10    1.23967
15 2013-09-09    1.36364
16 2014-08-28    1.43495
17 2015-09-03    3.44671
18 2016-09-02    3.30573
19 2017-07-13    5.62500
20 2018-07-25    2.50000
21 2019-07-25    4.00000
22 2020-07-23    4.20000
6505   台塑石化
         Date  Dividends
0  2004-07-08    1.60199
1  2005-07-19    3.20957
2  2006-07-18    4.43020
3  2007-06-20    4.40000
4  2008-06-18    6.50485
5  2009-07-07    1.20000
6  2010-07-07    3.80000
7  2011-07-06    3.90000
8  2012-07-04    2.00000
9  2013-07-02    0.26000
10 2014-07-01    2.50000
11 2015-07-02    0.85000
12 2016-07-04    4.00000
13 2017-06-28    6.00000
14 2018-07-04    6.30000
15 2019-06-20    4.80000
16 2020-06-17    2.90000
3481   群創
        Date  Dividends
0 2007-08-27   0.199200
1 2008-08-14   1.239670
2 2009-08-14   0.194175
3 2014-07-16   0.149995
4 2015-07-09   0.700020
5 2016-07-11   0.199999
6 2017-07-11   0.100000
7 2018-07-11   0.800000
8 2019-07-12   0.060000
9 2020-07-17   0.100000
2303   聯電
         Date  Dividends
0  2005-08-02   0.093297
1  2006-08-02   0.400897
2  2007-07-10   0.700000
3  2008-08-08   0.686797
4  2010-07-08   0.500000
5  2011-07-22   1.111650
6  2012-07-09   0.499802
7  2013-07-08   0.406397
8  2014-07-07   0.500000
9  2015-07-14   0.549697
10 2016-07-12   0.565019
11 2017-07-11   0.500000
12 2018-07-10   0.711643
13 2019-07-16   0.589893
14 2020-07-15   0.803956
2308   台達電
         Date  Dividends
0  2000-07-14    1.60000
1  2001-07-03    1.49938
2  2002-06-26    1.08696
3  2003-06-20    1.81406
4  2004-06-28    2.04082
5  2005-06-23    2.19506
6  2006-06-16    2.72109
7  2007-07-16    4.08163
8  2008-07-15    5.28643
9  2009-07-14    3.50000
10 2010-07-14    4.19903
11 2011-07-26    5.19547
12 2012-07-19    3.49448
13 2013-07-08    5.29102
14 2014-07-03    5.80000
15 2015-06-30    6.70000
16 2016-07-07    5.00000
17 2017-07-03    5.00000
18 2018-07-02    5.00000
19 2019-07-02    5.00000
20 2020-07-02    5.00000

In [7]:
data = []                                                                                                                                                                       
for st in stocks:                                                                                                                                                           
    data.append(st.rollback(iYear))                                                                                                                                          
                                                                                                                                                                                 
df = pd.concat(data, axis=1)
df

,^TWII 台灣加權指數,^0050 0050報酬指數,0050 元大台灣50,006208 富邦台50,0051 元大中型100,0056 元大高股息,2412 中華電信,2002 中鋼,2330 台積電,2317 鴻海,6505 台塑石化,3481 群創,2303 聯電,2308 台達電
1998-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28932.791093,NaN,NaN,NaN,NaN
1998-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29776.580863,NaN,NaN,NaN,NaN
1998-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28983.921958,NaN,NaN,NaN,NaN
1998-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29687.154699,NaN,NaN,NaN,NaN
1998-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29327.252828,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,95.896476,173.061755,167.010125,170.525091,122.107704,89.079453,37.006415,74.925553,419.535873,48.356881,71.244219,57.427767,418.229313,151.919901
2021-01-11,99.749853,NaN,173.533923,175.138825,125.719710,93.788677,37.422418,74.754921,427.052104,52.762205,67.951061,61.490759,458.666464,156.112028
2021-01-12,99.534750,NaN,173.362120,177.054271,126.658291,91.400064,36.061800,72.195258,433.369509,46.045355,64.358132,52.607646,438.909300,152.575527
2021-01-13,101.544100,NaN,176.799629,180.116342,129.608858,93.264169,36.001417,71.405434,443.959360,48.970170,61.777951,59.230306,458.666464,150.519736
2021-01-14,102.860552,NaN,176.418883,181.005552,134.119479,95.941305,35.278495,70.216014,440.366353,63.539732,61.573172,59.222082,452.548736,153.886161

In [ ]:
df.dropna()

In [2]:
s = Stock("^0050", remark="0050報酬指數", fromPath= os.path.join("./extraData", "臺灣50指數"))

^0050  0050報酬指數
empty Dividends

In [4]:
s.history

,Date,日期,臺灣50指數,臺灣50報酬指數,Close,Adj Close,Dividends,Stock Splits,Adj Close Cal
1947,2002-10-18,91/10/18,"3,409.79","3,448.13",3409.79,3448.13,0,0,3448.13
1948,2002-10-21,91/10/21,"3,400.68","3,438.92",3400.68,3438.92,0,0,3438.92
1949,2002-10-22,91/10/22,"3,323.56","3,360.93",3323.56,3360.93,0,0,3360.93
1950,2002-10-23,91/10/23,"3,496.82","3,536.14",3496.82,3536.14,0,0,3536.14
1951,2002-10-24,91/10/24,"3,483.31","3,523.98",3483.31,3523.98,0,0,3523.98
...,...,...,...,...,...,...,...,...,...
822,2021-01-04,110/01/04,"12,094.41","23,647.01",12094.41,23647.01,0,0,23647.01
823,2021-01-05,110/01/05,"12,207.71","23,868.53",12207.71,23868.53,0,0,23868.53
824,2021-01-06,110/01/06,"12,287.01","24,023.57",12287.01,24023.57,0,0,24023.57
825,2021-01-07,110/01/07,"12,534.61","24,507.69",12534.61,24507.69,0,0,24507.69
826,2021-01-08,110/01/08,"12,808.93","25,044.05",12808.93,25044.05,0,0,25044.05

In [ ]:
stocks[1].history

In [ ]:
(131.199997-54.952719)/54.952719,

In [ ]:
df = s.rollback(iYear=3)

In [ ]:
df[270:].head(20)

In [ ]:
fig = plotArea(df)
fig.show()

In [ ]:
df[df["index"]=="2020-12-23"]

In [ ]:
import plotly.express as px

fig = px.scatter(df, x="index", y="0050.TW", animation_frame="iYear", range_y=[-60,210])
fig.show()

In [ ]:
fig.write_html(f"images/0050_RollBack_Animation.html")

In [ ]:
interval = relativedelta(years=5)
data = s.history.iloc[::-1]

pairs = []
for i, row in data.iterrows():
    t = row["Date"] - interval
    start = data[data["Date"] <= t]
    if start.empty:
        break
    start = start.iloc[0, :]
    pairs.append((start, row))

In [ ]:
[(p[0]["Date"],p[1]["Date"]) for p in pairs]

In [ ]:
t = [p[1]["Date"] for p in pairs]
r = [
    (p[1]["Adj Close Cal"] - p[0]["Adj Close Cal"])
    / p[0]["Adj Close Cal"]
    * 100
    for p in pairs
]
df = pd.DataFrame({"s.symbol": r}, index=t)
df.sort_index()

In [ ]:
t = [p[1]["Date"] for p in pairs]
r = [
    (p[1]["Adj Close Cal"] - p[0]["Adj Close Cal"])
    / p[0]["Adj Close Cal"]
    * 100
    for p in pairs
]
df = pd.DataFrame({"s.symbol": r}, index=t)
df.sort_index()