In [2]:
import os
import yfinance as yf
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px

from datetime import datetime
from pyquery import PyQuery
from dateutil.relativedelta import relativedelta

In [5]:
symbols = [
        {"name": "^TWII", "remark": "台灣加權指數"},
        {
            "name": "^TAIEX",
            "remark": "台灣加權報酬指數",
            "fromPath": os.path.join("./extraData", "臺灣加權股價指數"),
        },
        {"name": "^0050", "remark": "0050報酬指數", "fromPath": os.path.join("./extraData", "臺灣50指數")},
        {"name": "0050.TW", "remark": "元大台灣50", "replaceDiv": True},
        {"name": "006208.TW", "remark": "富邦台50", "replaceDiv": True},
        {"name": "0051.TW", "remark": "元大中型100", "replaceDiv": True},
        {"name": "0056.TW", "remark": "元大高股息", "replaceDiv": True},
        {"name": "2412.TW", "remark": "中華電信", "replaceDiv": True},
        {"name": "2002.TW", "remark": "中鋼", "replaceDiv": True},
        {"name": "2330.TW", "remark": "台積電", "replaceDiv": True},
        {"name": "2317.TW", "remark": "鴻海", "replaceDiv": True},
        {"name": "6505.TW", "remark": "台塑石化", "replaceDiv": True},
        {"name": "3481.TW", "remark": "群創", "replaceDiv": True},
        {"name": "2303.TW", "remark": "聯電", "replaceDiv": True},
        {"name": "2308.TW", "remark": "台達電", "replaceDiv": True},
    ]

In [3]:
from stock import *
start="1911-1-1"
end=datetime.now().strftime("%Y-%m-%d")
prefix="TW"
iYear=5

In [6]:
stocks = []
for symbol in symbols:
    stocks.append(
        Stock(
            symbol["name"],
            remark=symbol["remark"],
            start=start,
            end=end,
            extraDiv=symbol.get("extraDiv", {}),
            replaceDiv=symbol.get("replaceDiv", False),
            fromPath=symbol.get("fromPath", False),
        )
    )
data = []
for st in stocks:
    data.append(st.yearReturn)

df = pd.concat(data, axis=1)

^TWII  台灣加權指數
empty Dividends
^TAIEX 台灣加權報酬指數
empty Dividends
^0050  0050報酬指數
empty Dividends

d:\sun\work\software\mycode\python\virtual-env\developenv\lib\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

0050   元大台灣50
         Date  Dividends
0  2021-01-22       3.05
1  2020-07-21       0.70
2  2020-01-31       2.90
3  2019-07-19       0.70
4  2019-01-22       2.30
5  2018-07-23       0.70
6  2018-01-29       2.20
7  2017-07-31       0.70
8  2017-02-08       1.70
9  2016-07-28       0.85
10 2015-10-26       2.00
11 2014-10-24       1.55
12 2013-10-24       1.35
13 2012-10-24       1.85
14 2011-10-26       1.95
15 2010-10-25       2.20
16 2009-10-23       1.00
17 2008-10-24       2.00
18 2007-10-24       2.50
19 2006-10-26       4.00
20 2005-05-19       1.85

d:\sun\work\software\mycode\python\virtual-env\developenv\lib\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

006208 富邦台50
         Date  Dividends
0  2020-11-17      1.139
1  2020-07-21      0.481
2  2019-11-20      1.138
3  2019-07-18      0.661
4  2018-11-29      2.000
5  2018-07-26      0.650
6  2017-11-30      1.650
7  2017-07-27      1.000
8  2016-08-02      0.043
9  2015-10-29      0.845
10 2014-10-29      1.212
11 2013-10-30      0.629
12 2012-11-01      1.844

d:\sun\work\software\mycode\python\virtual-env\developenv\lib\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

0051   元大中型100
         Date  Dividends
0  2020-11-20       1.10
1  2019-11-22       1.20
2  2018-11-22       1.00
3  2017-11-23       0.85
4  2016-11-23       0.70
5  2015-11-24       0.85
6  2014-11-25       0.75
7  2013-11-25       0.80
8  2012-11-22       0.75
9  2011-11-23       0.90
10 2010-11-23       0.90
11 2009-11-24       1.70
12 2007-11-23       0.77

d:\sun\work\software\mycode\python\virtual-env\developenv\lib\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

0056   元大高股息
         Date  Dividends
0  2020-10-28       1.60
1  2019-10-23       1.80
2  2018-10-23       1.45
3  2017-10-30       0.95
4  2016-10-26       1.30
5  2015-10-26       1.00
6  2014-10-24       1.00
7  2013-10-24       0.85
8  2012-10-24       1.30
9  2011-10-26       2.20
10 2009-10-23       2.00
2412   中華電信
         Date  Dividends
0  2001-06-22   7.032258
1  2002-07-10   4.243604
2  2003-07-30   4.849833
3  2004-07-13   5.456063
4  2005-08-11   5.698554
5  2006-08-10   5.213571
6  2007-07-26   4.870154
7  2008-10-17   5.268374
8  2009-08-03   4.787499
9  2010-08-12   5.075000
10 2011-07-21   5.524300
11 2012-07-17   5.460800
12 2013-07-17   4.629500
13 2014-07-17   4.525100
14 2015-07-16   4.856400
15 2016-07-21   5.485200
16 2017-07-21   4.941900
17 2018-07-23   4.796000
18 2019-07-25   4.479000
19 2020-07-02   4.226000
2002   中鋼
         Date  Dividends
0  2000-06-22   0.846708
1  2001-07-10   0.967486
2  2002-07-25   0.547417
3  2003-07-24   0.962697
4  2004-07-23   2.053406
5  2005-07-26   2.723389
6  2006-07-26   2.789424
7  2007-07-26   2.215179
8  2008-07-24   2.788894
9  2009-07-24   1.146215
10 2010-07-26   0.919908
11 2011-07-18   1.812492
12 2012-07-26   0.980392
13 2013-07-26   0.392157
14 2014-08-14   0.672819
15 2015-07-24   1.000000
16 2016-07-26   0.500000
17 2017-07-26   0.850000
18 2018-07-26   0.880000
19 2019-07-25   1.000000
20 2020-07-24   0.500000
2330   台積電
         Date  Dividends
0  2004-06-14   0.481996
1  2005-06-13   1.821562
2  2006-06-20   2.390180
3  2007-06-08   2.954838
4  2008-07-16   2.994919
5  2009-07-15   2.984965
6  2010-07-06   2.999732
7  2011-06-29   2.999513
8  2012-07-04   2.999481
9  2013-07-03   2.999552
10 2014-07-14   2.999912
11 2015-06-29   4.499875
12 2016-06-27   6.000000
13 2017-06-26   7.000000
14 2018-06-25   8.000000
15 2019-06-24   8.000000
16 2019-09-19   2.000000
17 2019-12-19   2.500000
18 2020-03-19   2.500000
19 2020-06-18   2.500000
20 2020-09-17   2.500000
21 2020-12-17   2.500000
22 2021-03-17   2.500000
2317   鴻海
         Date  Dividends
0  1993-07-22   0.009212
1  1994-06-07   0.014002
2  2000-07-14   0.114976
3  2001-07-02   0.186836
4  2002-07-23   0.233951
5  2003-08-07   0.257833
6  2004-08-23   0.430466
7  2005-09-02   0.582531
8  2006-08-17   0.850934
9  2007-08-27   1.021120
10 2008-09-16   1.278620
11 2009-06-02   0.713028
12 2010-08-25   1.157513
13 2011-07-29   0.798591
14 2012-08-10   1.088988
15 2013-09-09   1.317675
16 2014-08-28   1.552975
17 2015-09-03   3.916718
18 2016-09-02   4.132159
19 2017-07-13   5.625000
20 2018-07-25   2.500000
21 2019-07-25   4.000000
22 2020-07-23   4.200000
6505   台塑石化
         Date  Dividends
0  2004-07-08   1.424397
1  2005-07-19   3.025327
2  2006-07-18   4.301166
3  2007-06-20   4.271845
4  2008-06-18   6.315388
5  2009-07-07   1.200000
6  2010-07-07   3.800000
7  2011-07-06   3.900000
8  2012-07-04   2.000000
9  2013-07-02   0.260000
10 2014-07-01   2.500000
11 2015-07-02   0.850000
12 2016-07-04   4.000000
13 2017-06-28   6.000000
14 2018-07-04   6.300000
15 2019-06-20   4.800000
16 2020-06-17   2.900000
3481   群創
        Date  Dividends
0 2007-08-27   0.173020
1 2008-08-14   1.184419
2 2009-08-14   0.191087
3 2014-07-16   0.149995
4 2015-07-09   0.700020
5 2016-07-11   0.199999
6 2017-07-11   0.100000
7 2018-07-11   0.800000
8 2019-07-12   0.060000
9 2020-07-17   0.100000
2303   聯電
         Date  Dividends
0  2005-08-02   0.126764
1  2006-08-02   0.550276
2  2007-07-10   0.960828
3  2008-08-08   0.686797
4  2010-07-08   0.500000
5  2011-07-22   1.111648
6  2012-07-09   0.499802
7  2013-07-08   0.406397
8  2014-07-07   0.500000
9  2015-07-14   0.549697
10 2016-07-12   0.565019
11 2017-07-11   0.500000
12 2018-07-10   0.711643
13 2019-07-16   0.589893
14 2020-07-15   0.803956
2308   台達電
         Date  Dividends
0  2000-07-14   0.854233
1  2001-07-03   0.980625
2  2002-06-26   0.817528
3  2003-06-20   1.432620
4  2004-06-28   1.692282
5  2005-06-23   1.907983
6  2006-06-16   2.483481
7  2007-07-16   3.911482
8  2008-07-15   5.167374
9  2009-07-14   3.489601
10 2010-07-14   4.186553
11 2011-07-26   5.180029
12 2012-07-19   3.484099
13 2013-07-08   5.275295
14 2014-07-03   5.782767
15 2015-06-30   6.680093
16 2016-07-07   5.000000
17 2017-07-03   5.000000
18 2018-07-02   5.000000
19 2019-07-02   5.000000
20 2020-07-02   5.000000

In [8]:
df = pd.concat(data, axis=1)
df

,^TWII 台灣加權指數,^TAIEX 台灣加權報酬指數,^0050 0050報酬指數,0050 元大台灣50,006208 富邦台50,0051 元大中型100,0056 元大高股息,2412 中華電信,2002 中鋼,2330 台積電,2317 鴻海,6505 台塑石化,3481 群創,2303 聯電,2308 台達電
1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.723039,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241.517900,NaN,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-27.241113,NaN,NaN,NaN,NaN
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.657739,NaN,NaN,NaN,NaN
1997,-8.997168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183.868081,NaN,NaN,NaN,NaN
1998,-20.055719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.032603,NaN,NaN,NaN,NaN
1999,37.325238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.993734,NaN,NaN,NaN,NaN
2000,-45.824094,NaN,NaN,NaN,NaN,NaN,NaN,-10.588243,-11.707772,-42.831287,-39.048160,NaN,NaN,-41.549361,-6.618967
2001,12.480768,NaN,NaN,NaN,NaN,NaN,NaN,-23.015061,-18.613996,54.086763,15.088647,NaN,NaN,35.982866,-2.738417
2002,-20.492674,NaN,-4.063072,NaN,NaN,NaN,NaN,6.653532,56.444402,-46.445911,-13.002801,NaN,NaN,-44.078670,-20.722597
2003,30.184726,33.075723,39.035515,NaN,NaN,NaN,NaN,5.702769,59.287766,49.063139,34.598252,9.782618,NaN,49.197243,17.025075
2004,1.624255,4.906417,2.753864,NaN,NaN,NaN,NaN,35.563421,46.616157,-8.133168,28.438061,24.678925,NaN,-26.199998,42.019719
2005,6.596308,10.879733,10.893077,NaN,NaN,NaN,NaN,11.363587,-5.952602,38.118407,49.702049,21.201207,NaN,12.617417,33.891966
2006,21.071610,26.102391,22.396409,NaN,NaN,NaN,NaN,17.505230,65.779814,18.981234,55.531730,35.686616,7.846715,15.011466,73.402779
2007,7.391681,11.117663,9.948855,NaN,NaN,NaN,NaN,NaN,36.469110,-7.658732,-0.084210,39.494397,89.982724,-28.763215,12.174443
2008,-44.837272,-41.815484,-41.357747,-41.624472,NaN,-52.353650,-46.809340,1.791487,-40.761861,-22.153140,-61.307034,-22.340177,-74.229005,-58.284986,-35.063724
2009,74.277746,79.165458,68.991265,74.995924,NaN,94.147808,89.500828,13.381360,48.821629,48.119897,174.492700,26.423721,89.597220,118.274118,59.858805
2010,9.316120,13.300393,12.687094,13.027390,NaN,13.374951,18.382977,20.845192,4.924898,15.018360,-11.953156,25.970715,-20.512819,-0.741512,47.164507
2011,-21.641600,-18.458741,-15.871097,-15.881964,NaN,-24.426921,-13.646073,14.443088,-6.143394,11.211524,-21.434432,-0.942182,-69.074781,-15.071324,-45.778718
2012,9.160425,14.888788,14.535911,13.635660,8.828110,13.547283,9.972546,0.643571,1.146647,44.101858,21.962748,4.449510,28.347085,3.555805,54.812251
2013,10.698874,13.961154,10.653072,10.444444,8.486159,17.055858,4.140137,3.860405,0.388607,8.893064,1.165328,-6.722951,-31.831834,7.616076,64.002643
2014,8.066389,11.376560,18.029594,16.962888,18.399581,3.567589,9.191271,6.325896,3.762674,37.960234,24.230408,-12.477343,41.877845,23.666157,15.328092
2015,-10.093184,-6.538275,-5.173058,-5.858143,-5.479555,-14.030292,-5.344767,12.103105,-29.306251,5.768869,1.341712,18.172680,-36.429556,-17.021218,-14.279003
2016,14.040422,18.777765,22.888913,22.059486,19.928920,8.480761,13.207762,8.185016,44.008307,35.209783,22.324012,52.417815,23.091888,1.017647,10.545247
2017,14.774141,19.273595,18.385930,17.974564,21.119951,27.043877,12.169413,8.302489,4.731795,29.590164,17.387775,11.155476,3.151328,29.074500,-6.660742
2018,-9.180703,-5.430104,-5.029651,-5.456387,-5.594021,-7.543622,0.935143,9.840916,1.790039,0.524163,-38.945746,-0.100592,-16.223796,-17.735761,-3.761580
2019,25.570068,31.257234,36.763308,36.135662,34.924315,29.473952,29.605621,7.086231,3.732637,58.136925,36.231929,-1.343597,-11.600001,54.307245,23.127073
2020,21.751614,26.035891,30.928207,30.198970,30.494868,27.504643,8.820714,3.290198,5.677599,60.781356,6.530281,5.196539,72.133655,199.212977,79.466173
2021,9.438777,5.758159,NaN,11.012714,10.999996,7.399110,10.220439,1.376147,2.605209,14.083914,27.127125,-1.000000,17.073162,5.598242,6.981132

In [15]:
import pickle
with open("test.pickle", 'rb') as f:
    data = pickle.load(f)

In [43]:
for i in range(12):
    print(i,data[i][data[i].index.duplicated()])

0 Series([], Name: ^TWII  台灣加權指數, dtype: float64)
1 Series([], Name: ^TAIEX 台灣加權報酬指數, dtype: float64)
2 Series([], Name: ^0050  0050報酬指數, dtype: float64)
3 Series([], Name: 0050   元大台灣50, dtype: float64)
4 Series([], Name: 006208 富邦台50, dtype: float64)
5 Series([], Name: 0051   元大中型100, dtype: float64)
6 Series([], Name: 0056   元大高股息, dtype: float64)
7 Series([], Name: 2412   中華電信, dtype: float64)
8 Series([], Name: 2002   中鋼, dtype: float64)
9 2021-03-17    608.0
Name: 2330   台積電, dtype: float64
10 Series([], Name: 2317   鴻海, dtype: float64)
11 Series([], Name: 6505   台塑石化, dtype: float64)

In [44]:
data[9][]

2000-01-04     36.658544
2000-01-05     37.482259
2000-01-06     36.658544
2000-01-07     35.628752
2000-01-10     36.864424
                 ...
2021-03-12    611.495922
2021-03-15    608.508157
2021-03-16    610.500000
2021-03-17           NaN
2021-03-17    608.000000
Name: 2330   台積電, Length: 5302, dtype: float64

In [72]:
df = stocks[9].yfinance.history(start="1970-01-02", end=datetime.now(), auto_adjust=False)

In [81]:
df

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2000-01-04,69.649033,69.649033,68.475182,69.649033,36.658543,2.006623e+11,0.0,0.0
2000-01-05,69.649033,71.214043,68.866341,71.214043,37.482258,4.024668e+11,0.0,0.0
2000-01-06,70.822884,71.214043,69.649033,69.649033,36.658543,1.975457e+11,0.0,0.0
2000-01-07,67.301331,68.475182,66.518639,67.692490,35.628746,2.352703e+11,0.0,0.0
2000-01-10,69.649033,70.431351,68.475182,70.040192,36.864426,2.761717e+11,0.0,0.0
...,...,...,...,...,...,...,...,...
2021-03-12,615.000000,618.000000,609.000000,614.000000,611.495911,3.316885e+07,0.0,0.0
2021-03-15,614.000000,614.000000,609.000000,611.000000,608.508118,2.741676e+07,0.0,0.0
2021-03-16,610.000000,613.000000,607.000000,613.000000,610.500000,3.694942e+07,0.0,0.0
2021-03-17,NaN,NaN,NaN,NaN,NaN,NaN,2.5,0.0
2021-03-17,612.000000,612.000000,602.000000,604.000000,604.000000,2.773923e+07,0.0,0.0